.idea
Tracking_OpenCV_CLEye/asdf.txt

/Tracking_OpenCV_CLEye_Boost_v1.1/Debug
/Tracking_OpenCV_CLEye_Boost_v1.1/Tracking_OpenCV_CLEye.sdf
/Tracking_OpenCV_CLEye_Boost_v1.1/!obj
/Tracking_OpenCV_CLEye_Boost_v1.1/ipch

/Tracking_OpenCV_CLEye_Boost_v1.1/Tracking_OpenCV_CLEye.opensdf
/Tracking_OpenCV_CLEye_Boost_v1.1/Tracking_OpenCV_CLEye.suo
/Tracking_OpenCV_CLEye_Boost_v1.1/Tracking_OpenCV_CLEye/recording
/Tracking_OpenCV_CLEye_Boost_v1.1/Tracking_OpenCV_CLEye/log.txt
/MotorControlArduino_Serial/MotorControlArduino/bin
/MotorControlArduino_Serial/MotorControlArduino/obj
/MotorControlArduino_Serial/MotorControlArduino.suo
/OpenCVWebcamTest/Debug
/OpenCVWebcamTest/OpenCVWebcamTest/Debug
/OpenCVWebcamTest/*.suo
/OpenCVWebcamTest/ipch/opencvwebcamtest-331ba885/*.ipch
